body
{
background-color: grey;
}

h1
{
   color: black;
   font-style: "bold";
}

h2
{
    color:aqua;
    font-style: "italic";
    font-style: "bold";
}

h3
{
    color:blueviolet;
}

p
{
    color:black;
}